@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-size: 10px;
  line-height: 3.5em;
  font-weight: 300;
  color: rgb(0, 0, 0);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed";
}
h1,
h2,
h3 {
  text-align: center;
}
h1,
h2 {
  text-transform: uppercase;
}
h3,
h4,
h5 {
  line-height: 1em;
}
h1 {
  font-size: 9em;
}
h2 {
  font-size: 5em;
}
h3 {
  font-size: 4.2em;
}
h4 {
  font-size: 1.5em;
  letter-spacing: 0.4px;
}
h5 {
  font-size: 1.2em;
}
h3,
h4,
h5 {
  line-height: 1em;
}

.nav-bar {
  background-color: rgb(25, 33, 41);
}

.nav-bar a {
  text-decoration: none;
  font-size: 2em;
  color: rgb(255, 255, 255);
}

.class-header {
  position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.class-header h2 {
  color: rgb(255, 255, 255);
  text-shadow: #020819 8px -20px 9px;
}

.class-quote {
  font-size: 2.5em;
}

.class-quote em{
  font-size: 2.5em;
}
